PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/flipr
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=supersecret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
FILE_BASE_URL=http://localhost:4000









